<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/app/upload/dragDrop.js"></script>
    <script type="text/javascript" src="/app/listAll/list.js"></script>
  </head>
  <body>

    <div id="drop">Drop files here...</div>
    <div id="list"></div>

  </body>
</html>
